<% content_for(:head){javascript_include_tag "form"}%>

<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :nome_fantasia %><br />
    <%= f.text_field :nome_fantasia %>
  </div>
  <div class="field">
    <%= f.label :razao_social %><br />
    <%= f.text_field :razao_social %>
  </div>
  <div class="field">
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </div>

  <div class="field">  
    <%= f.label "Estado" %><br />
    <%= f.collection_select :ufd_id, Ufd.all, :id, :nome, {:prompt => "Selecione um estado"} %>
  </div>

  <div class="field">
    <%= f.label :cidade_id %><br />
    <%= @cliente.new_record? ? (raw "<select id='cliente_cidade_id' name='cliente[cidade_id]' type='text'/></select>") :(f.collection_select :cidade_id, @cliente.ufd.try(:cidades), :id, :nome) %>
  </div>
  
  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :cep %><br />
    <%= f.text_field :cep %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
