<% content_for(:head){javascript_include_tag "form"}%>

<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> impedirão o formulário de ser salvo:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nome Fantasia:' %><br />
    <%= f.text_field :nome_fantasia %>
  </div>
  <div class="field">
    <%= f.label 'Razão Social:' %><br />
    <%= f.text_field :razao_social %>
  </div>
  <div class="field">
    <%= f.label 'CNPJ:' %><br />
    <%= f.text_field :cnpj %>
  </div>

  <div class="field">  
    <%= f.label "Estado" %><br />
    <%= f.collection_select :ufd_id, Ufd.all, :id, :nome, {:prompt => "Selecione um estado"} %>
  </div>

  <div class="field">
    <%= f.label :cidade_id %><br />
    <%= @cliente.new_record? ? (raw "<select id='cliente_cidade_id' name='cliente[cidade_id]' type='text'/></select>") :(f.collection_select :cidade_id, @cliente.ufd.try(:cidades), :id, :nome) %>
  </div>
  
  <div class="field">
    <%= f.label 'Endereço:' %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label 'Bairro:' %><br />
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label 'CEP:' %><br />
    <%= f.text_field :cep %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
