<h1>Lista de clientes</h1>

<%= link_to 'Novo Cliente', new_cliente_path %><br />

<table>
  <tr>
    <th>Cidade</th>
    <th>Nome fantasia</th>
    <th>Razao social</th>
    <th>Cnpj</th>
    <th>Endereco</th>
    <th>Bairro</th>
    <th>Cep</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.cidade_id %></td>
    <td><%= cliente.nome_fantasia %></td>
    <td><%= cliente.razao_social %></td>
    <td><%= cliente.cnpj %></td>
    <td><%= cliente.endereco %></td>
    <td><%= cliente.bairro %></td>
    <td><%= cliente.cep %></td>
    <td><%= link_to 'Exibir', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Apagar', cliente, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>



