<h1>Lista de clientes</h1>

<%= link_to 'Novo Cliente', new_cliente_path %><br />

<table>
  <tr>
    <th width="100" align="left">Cidade</th>
    <th width="170" align="left">Nome fantasia</th>
    <th width="200" align="left">Razao social</th>
    <th width="130" align="left">Cnpj</th>
    <th width="200" align="left">Endereco</th>
    <th width="80" align="left">Bairro</th>
    <th width="80" align="left">Cep</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.cidade.nome %></td>
    <td><%= cliente.nome_fantasia %></td>
    <td><%= cliente.razao_social %></td>
    <td><%= cliente.cnpj %></td>
    <td><%= cliente.endereco %></td>
    <td><%= cliente.bairro %></td>
    <td><%= cliente.cep %></td>
    <td><%= link_to 'Exibir', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Apagar', cliente, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>



