<script type="text/javascript">

  $(document).ready(function(){
    
    $("[id*=data]").mask('99/99/9999') //seleciona todos os campos data e adiciona a mascara

    function preencher_combo_cidade(ufd_id) {
      $.getJSON("/ufd/" + ufd_id + '/cidades.json', function(data) {
        $('#entrega_cidade_id').empty();
        $.each(data, function(i,item){
          $('#entrega_cidade_id').append('<option value="' + item.cidade.id + '">' + item.cidade.nome + '</option>');
        });
      });
    }

    function preencher_combo_cliente(cidade_id) {
      $.getJSON("/cidade/" + cidade_id + '/clientes.json', function(data) {
        $('#entrega_cliente_id').empty();
        $.each(data, function(i,item){
          $('#entrega_cliente_id').append('<option value="' + item.cliente.id + '">' + item.cliente.nome_fantasia + '</option>');
        });
      });
    }

    function preencher_combo_motorista(data_da_partida) {
      $.getJSON("/entrega/" + data_da_partida + '/motoristas.json', function(data) {
        $.each(data, function(i, item){
          $('#entrega_motorista_id').append('<option value="' + item.motorista.id + '">' + item.motorista.nome + '</option>')
        })
      });
    }

    $('#entrega_ufd_id').change(function(){
      preencher_combo_cidade($(this).val());
    });

    $('#entrega_cidade_id').change(function(){
      preencher_combo_cliente($(this).val());        
    });    
    
    $('#entrega_data_da_partida').blur(function(){
      data_da_partida = $(this).val().replace(/\//g,'-');
      preencher_combo_motorista(data_da_partida);
    });

  })

</script>

<%= form_for(@entrega) do |f| %>
  
  <% if @entrega.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrega.errors.count, "error") %> prohibited this entrega from being saved:</h2>

      <ul>
      <% @entrega.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">  
    <%= f.label "Estado" %><br />
    <%= f.collection_select :ufd_id, Ufd.all, :id, :nome, {:prompt => "Selecione um estado"} %>
  </div>

  <div class="field">
    <%= f.label :cidade_id %><br />
    <%= @entrega.new_record? ? (raw "<select id='entrega_cidade_id' name='entrega[cidade_id]' type='text'/></select>") :(f.collection_select :cidade_id, @entrega.ufd.try(:cidades), :id, :nome) %>
  </div>

  <div class="field">
    <%= f.label :cliente_id %><br />

    <%= 
      if @entrega.new_record?
        raw "<select id='entrega_cliente_id' name='entrega[cliente_id]' type='text'/></select>"
      else
        raw "<select id='entrega_cliente_id' name='entrega[cliente_id]' type='text'/><option value=#{@entrega.cliente_id}>#{@entrega.cliente.nome_fantasia}</option></select>" 
      end
    %>
  </div>
  
  <div class="field">
    <%= f.label :data_da_partida %><br />
    <%= f.text_field :data_da_partida %>
  </div>

  <div class="field">
    <%= f.label :data_da_entrega %><br />
    <%= f.text_field :data_da_entrega %>
  </div>

  <div class="field">
    <%= f.label :data_do_retorno %><br />
    <%= f.text_field :data_do_retorno %>
  </div>

  <div class="field">
    <%= f.label :motorista_id %><br />
    <select id="entrega_motorista_id" name="entrega[motorista_id]" type="text"/></select>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
