<h1>Lista de Entregas</h1>

<%= link_to 'Nova Entrega', new_entrega_path %><br />

<table>
  <tr>
    <th width="200" align="left">Cliente</th>
    <th width="200" align="left">Motorista</th>
    <th width="110" align="left">Cidade</th>
    <th width="120" align="center">Data da partida</th>
    <th width="120" align="center">Data da entrega</th>
    <th width="120" align="center">Date do retorno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entregas.each do |entrega| %>
  <tr>
    <td><% if entrega.cliente %><%= entrega.cliente.razao_social %><% end %></td>
    <td><% if entrega.motorista %><%= entrega.motorista.nome %><% end %></td>
    <td><%= entrega.cidade.nome %></td>
    <td><%= entrega.data_da_partida.to_s_br %></td>
    <td><%= entrega.data_da_entrega.to_s_br %></td>
    <td><%= entrega.data_do_retorno.to_s_br %></td>
    <td><%= link_to 'Exibir', entrega %></td>
    <td><%= link_to 'Editar', edit_entrega_path(entrega) %></td>
    <td><%= link_to 'Apagar', entrega, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>


