<h1>Listing entregas</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Cliente</th>
    <th>Motorista</th>
    <th>Estado</th>
    <th>Cidade</th>
    <th>Data da partida</th>
    <th>Data da entrega</th>
    <th>Date do retorno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entregas.each do |entrega| %>
  <tr>
    <td><%= entrega.id %></td>
    <td><%= entrega.cliente.nome_fantasia %></td>
    <td><%= entrega.motorista.nome %></td>
    <td><%= entrega.cidade.ufd.nome %></td>
    <td><%= entrega.cidade.nome%></td>
    <td><%= entrega.data_da_partida %></td>
    <td><%= entrega.data_da_entrega %></td>
    <td><%= entrega.data_do_retorno %></td>
    <td><%= link_to 'Show', entrega %></td>
    <td><%= link_to 'Edit', edit_entrega_path(entrega) %></td>
    <td><%= link_to 'Destroy', entrega, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrega', new_entrega_path %>
