<h1>Lista de Entregas</h1>

<%= link_to 'Nova Entrega', new_entrega_path %><br />

<table>
  <tr>
    <th>Cliente</th>
    <th>Motorista</th>
    <th>Cidade</th>
    <th>Data da partida</th>
    <th>Data da entrega</th>
    <th>Date do retorno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entregas.each do |entrega| %>
  <tr>
    <td><%= entrega.cliente_id %></td>
    <td><%= entrega.motorista_id %></td>
    <td><%= entrega.cidade_id %></td>
    <td><%= entrega.data_da_partida %></td>
    <td><%= entrega.data_da_entrega %></td>
    <td><%= entrega.data_do_retorno %></td>
    <td><%= link_to 'Exibir', entrega %></td>
    <td><%= link_to 'Editar', edit_entrega_path(entrega) %></td>
    <td><%= link_to 'Apagar', entrega, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>


