<%= form_for(@motorista) do |f| %>
  <% if @motorista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motorista.errors.count, "error") %> prohibited this motorista from being saved:</h2>

      <ul>
      <% @motorista.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
