<% content_for(:head){javascript_include_tag "form"}%>
<%= form_for(@motorista) do |f| %>
  <% if @motorista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motorista.errors.count, "error") %> impediram o formulário de ser salvo:</h2>

      <ul>
      <% @motorista.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nome:' %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label "Telefone:" %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
