<h1>Lista de Motoristas</h1>

<%= link_to 'Novo Motorista', new_motorista_path %><br />

<table>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motoristas.each do |motorista| %>
  <tr>
    <td><%= motorista.nome %></td>
    <td><%= motorista.telefone %></td>
    <td><%= link_to 'Exibir', motorista %></td>
    <td><%= link_to 'Editar', edit_motorista_path(motorista) %></td>
    <td><%= link_to 'Apagar', motorista, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>


