<h1>Listing motoristas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motoristas.each do |motorista| %>
  <tr>
    <td><%= motorista.nome %></td>
    <td><%= motorista.telefone %></td>
    <td><%= link_to 'Show', motorista %></td>
    <td><%= link_to 'Edit', edit_motorista_path(motorista) %></td>
    <td><%= link_to 'Destroy', motorista, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Motorista', new_motorista_path %>
