<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @motorista.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @motorista.telefone %>
</p>


<%= link_to 'Editar', edit_motorista_path(@motorista) %> |
<%= link_to 'Voltar', motoristas_path %>
